<!doctype html>
<html lang="en">
<head>
 	<meta charset="UTF-8">
 	<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> -->
 	<title>华中农业大学作物学实验教学中心</title>
 	<link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700' />
  <link rel="shortcut icon" href="__ROOT__/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/home_public.css" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/show_public.css" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/planform_public.css" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/room_show2_one.css" />
  <script type="text/javascript" src="__PUBLIC__/public/js/jquery-1.8.3.min.js"></script>

</head>
<body>
<div id="wrapper">
<div id="bdy">
    <!--************************************************************** header **************************************************************-->
  <div id="header"> 
    <include file="./Application/Home/View/Public/header.html" />
  </div>

  <!--**************************************************************   nav  **************************************************************-->
  <div id="nav">
    <include file="./Application/Home/View/Public/nav.html" />
  </div>
  
  <!--**************************************************************main-one**************************************************************-->
  <div id="main">
    <div class="container">
      <div id="blank"></div>
      <div id="main_nav">
        <section>
          <h3>培养室</h3>
          <ul class="ultop">
            <li><a href="__APP__/Home/Room/room_show1" >温网室</a></li>
            <li><a href="__APP__/Home/Room/room_show2" style="border-left: 3px solid orange;">光照培养室</a></li>
          </ul>
        </section>
      </div>
      <div id="main_right">
        <nav class="top_nav"><a href="__APP__/home/Index/index.html">首页</a> · <a href="#">培养室</a> · <a href="#">光照培养室</a> </nav>
        <section class="article">
          <header class="main_title"><h2>光照培养室  </h2></header>
      <div class="planform_box">
        <ul class="small_nav">
          <li><a class="now_on" href="__APP__/Home/Room/room_show2">东附楼B102</a></li>
          <li><a   href="__APP__/Home/Room/room_show2_two">东附楼B103</a></li>
        </ul>
        <div class="planform">
          <div class="planheader">
            <form action="/lark-master/lark-master/index.php/Home/Reserve/home" method="get">
            <span class="hint">选择日期:</span>
            <input class="tcal tcalInput tcalActive input" name="date" value="2017-08-03" type="date">
            <button class="button" type="submit">查询</button>
            </form>
            <div class="clr" style="clear: both;"></div><br>
            <span>东附楼B102</span>
            <div class="explain">已借：红色</div>
          </div>
          <div class="planbody">
            <div class="box1">
              <div class="apply classbox1_1 hasin"><span class="date">5.8-5.9</span></div>
              <div class="apply classbox1_2"><span class="date"></span></div>
              <div class="apply classbox1_3"><span class="date"></span></div>
              <div class="apply classbox1_4"><span class="date"></span></div>
              <div class="apply classbox1_5"><span class="date"></span></div>
              <div class="apply classbox1_6"><span class="date"></span></div>
              <div class="apply classbox1_7"><span class="date"></span></div>
              <div class="apply classbox1_8"><span class="date"></span></div>
              <div class="apply classbox1_9"><span class="date"></span></div>
            </div>
            <div class="box2">
              <div class="div2_1">
                <div class="apply classbox2 hasin"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
              </div>
              <div class="div2_2">
                <div class="apply classbox2 hasin"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
              </div>
              <div class="div2_3">
                <div class="apply classbox2 hasin"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
              </div>
            </div>
            <div class="box3">
              <div class="div3_1">
                <div class="apply classbox2 hasin"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2 hasin"><span class="date">3.8-3.12</span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
              </div>
              <div class="div3_2">
                <div class="apply classbox2 hasin"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
                <div class="apply classbox2"><span class="date"></span></div>
              </div>
            </div>
              
          </div>
        </div>
      </div>
        </section>
      </div>
    </div>
  </div>


   <!--************************************************************** footer **************************************************************-->
  <div id="footer">
     <include file="./Application/Home/View/Public/footer.html" />
  </div>
</div>
</div>
  <script type="text/javascript" src="__PUBLIC__/face/js/public.js"></script>
  <script type="text/javascript" src="__PUBLIC__/face/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/face/js/custom.js"></script>
  <script type="text/javascript" src="__PUBLIC__/face/js/apply.js"></script>
</body>
</html>