<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>华中农业大学实验教学中心互动平台</title>
    <link rel="shortcut icon" href="__ROOT__/back.ico" type="image/x-icon" />


	  <!-- Bootstrap -->
    <link href="__PUBLIC__/back/include/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 图标引入 -->
    <link href="__PUBLIC__/back/include/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="__PUBLIC__/back/include/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="__PUBLIC__/back/css/custom.min.css" rel="stylesheet">
    <link href="__PUBLIC__/back/css/public.css" rel="stylesheet" >
    <link href="__PUBLIC__/back/css/plan.css" rel="stylesheet" >
</head>
    <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!--************************************************* 左导航 *************************************************-->
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            
        <!-- 左导航中部 -->
            <include file="./Application/Admin/View/Public/nav_header.html" />
              <br />

              <!-- 左导航中部 -->
            <include file="./Application/Admin/View/Public/nav_middle.html" />

              <!--  左导航底部 -->
             <include file="./Application/Admin/View/Public/nav_footer.html" />

          </div>
        </div>

        <!--************************************************* 顶导航 *************************************************-->
        <include file="./Application/Admin/View/Public/top_nav.html" />
      

        <!--************************************************* 右内容 *************************************************-->
      <div class="right_col" role="main">

          <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>采购计划<small>Plan</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="panel_toolbox_li"><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                  <li class="panel_toolbox_li"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>名称</th>
                    <th style="width:15%;">日期</th>
                    <th style="width:20%;">操作</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="__URL__/plan_show">r_name</a></td>
                      <td>r_time</td>
                      <td>
                        <a href="__URL__/" >删除 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="__URL__/plan_show">r_name</a></td>
                      <td>$vo.r_time</td>
                      <td>
                        <a href="__URL__/" >删除 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br><br>
                <div data-toggle="modal" data-target="#myModal2" class="gallery_add">添加</div>
              </div>
            </div>
          </div>
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width:min-width:600px;width: 800px;">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      采购计划-添加
                    </h4>
                  </div>
                  <div class="modal-body" >   
                    <form class="form" action="" method="post">
                      <input id="rowNum" type="text" name="row" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="请输入行数">
                      <input id="colNum" type="text" name="col" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="请输入列数">
                      <div id="create_tab">生成</div><br><br>
                      <table id="tbl_t" contentEditable="true"></table><br>
                      <button type="button" id="table_sub" class="btn btn-primary">Submit</button>
                    </form>
                  </div>

                  <div class="modal-footer">
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal -->
            </div>  
      </div>
        <!--************************************************* 底部版权 *************************************************-->
      <include file="./Application/Admin/View/Public/footer.html" />

      </div>
    </div>

    <!--************************************************* publc JS *************************************************-->
    <include file="./Application/Admin/View/Public/public_js.html" />
    <!-- <script src="__PUBLIC__/back/include/datatables.net/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="__PUBLIC__/back/include/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> -->
    <script type="text/javascript" src="__PUBLIC__/back/js/plan.js" ></script>
    <script type="text/javascript">
    
        var oSubmit = document.getElementById('table_sub');
        var oTab = document.getElementById('tbl_t');

        oSubmit.onclick = function () {
          console.log(oTab);
          console.log(oTab.childNodes.length);
          var param = [],
              filed = null;
            for (var i = 0; i < oTab.childNodes.length; i++) {
              filed = oTab.childNodes[i];
              for (var j = 0; j < filed.childNodes.length; j++) {
                if (filed.childNodes[j].tagName == "TD" ) {
                  param.push(i + ":" + j + "=" + filed.childNodes[j].innerHTML); 
                }
                
              }
            }
            param.join("&");

          // $.ajax({
          //     url: '',//路径
          //     type: 'POST',
          //     dataType: 'json',
          //     data: param,
          //     success: function(data){
          //         console.log(data);
          //         window.location.href="";//返回路径？
          //     },
          //     error: function(xhr){
          //         alert("失败");
          //         console.log(xhr);
          //     }
          // });
        }
      
    </script>
  </body>
</html>