<div class="container">
  <div id="header_left">
    <!-- <a href="__APP__/home/Index/index.html"><h1>华中农业大学作物学实验教学中心</h1></a>
    <p>     Teaching Center of Crop Science Experiment</p> -->
  </div>
  <div id="header_right">
      <div>
        <p><a href="#">访问旧版</a> | <a href="#" class="logBut">教师登录</a><br/>
      </div>
      <form action="#" method="post" id="sitesearch">
        <input type="text" value="" placeholder="全文搜索" class="search_input"  />
         <!-- <input type="text" value="" class="search_input" onfocus="this.value=(this.value=='全文搜索&hellip;')? '' : this.value ;" /> -->
        <input type="submit" id="search" value="搜索"alt="搜索" />
      </form>
  </div>
</div>

<!--***************登陆框***************-->
<include file="./Application/Home/View/Public/login.html" />

<!--***************注册框***************-->
<include file="./Application/Home/View/Public/register.html" />