<div class="container">
	<div id="navn" >
      	<ul>
	        <li class="navOne_class"><a class="active" href="__APP__/Home/Index/index">首&ensp;页</a></li>
	        <li class="navOne_class"><a href="__APP__/Home/About/about_show1">平台概况</a>
	        	<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/About/about_show1">平台简介</a></li>
	                <li class="secnav"><a href="__APP__/Home/About/about_show2">通知公告</a></li>
	                <li class="secnav"><a href="__APP__/Home/About/about_show3">联系我们</a></li>
	            </ul>
	        </li>	
	       <li class="navOne_class"> <a href="__APP__/Home/Field/field_show1">大田设施</a>
	        	<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/Field/field_show1">农田土地</a></li>
	                <li class="secnav"><a href="__APP__/Home/Field/field_show2">露天盆栽场</a></li>
	            </ul>
	        </li>
	        <li class="navOne_class"><a href="__APP__/Home/Room/room_show1">培养室</a>
	       		<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/Room/room_show1">温网室</a></li>
	                <li class="secnav"><a href="__APP__/Home/Room/room_show2">光照培养室</a></li>
	            </ul>
	        </li>

	        <li class="navOne_class"><a href="__APP__/Home/Laboratory/laboratory_show1">实验室</a>
	        	<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/Laboratory/laboratory_show1">公共实验室</a></li>
	                <li class="secnav"><a href="__APP__/Home/Laboratory/laboratory_show2">教学实验室</a></li>
	                <li class="secnav"><a href="__APP__/Home/Laboratory/laboratory_show3">实验辅助室</a></li>
	            </ul>
	        </li>
	         <li class="navOne_class"><a href="__APP__/Home/Equipment/equipment_show1">仪器设备</a>
	        	<ul class="nav_right">
	            	<li class="secnav"><a href="__APP__/Home/Equipment/equipment_show1">仪器设备</a></li>
	                <li class="secnav"><a href="__APP__/Home/Equipment/equipment_show2">试剂耗材</a></li>
	            </ul>
	        </li>
	        <li class="navOne_class"><a href="__APP__/Home/Fictitious/fictitious_show1">规章制度</a>
	        </li>
	       
        </ul>
    </div>
</div>
