<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>2017/5/16</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> 首页管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Index/index">页面管理</a></li>              
        </ul>
      </li>
      <li><a><i class="fa fa-edit"></i> 平台概况 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Introduction/introduction">平台概况</a></li>
          <li><a href="__APP__/Admin/Introduction/notice">通知公告</a></li>
          <li><a href="__APP__/Admin/Introduction/connect">联系我们</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-desktop"></i> 大田设施<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Field/fieldluanch">页面发布</a></li>
          <li><a href="__APP__/Admin/Field/field">农田土地</a></li>
          <li><a href="__APP__/Admin/Field/OpenPot">露天盆栽场</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-mortar-board"></i> 培养室<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="__APP__/Admin/Room/roomluanch">页面发布</a></li>
          	<li><a href="__APP__/Admin/Room/WimbledonRoom">温网室</a></li>
          	<li><a href="__APP__/Admin/Room/LightCultureRoom">光照培养室</a></li>
      	</ul>
      <li><a><i class="fa fa-share-alt-square"></i>实验室 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="__APP__/Admin/Laboratory/labluanch">页面发布</a></li>
            <li><a href="__APP__/Admin/Laboratory/publiclab">公共实验室</a></li>
            <li><a href="__APP__/Admin/Laboratory/teachlab">教学实验室</a></li>
            <li><a href="__APP__/Admin/Laboratory/sublab">实验辅助室</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-flask"></i>仪器设备<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Equipment/equipmentluanch">页面发布</a></li>
          <li><a href="__APP__/Admin/Equipment/equipment">仪器设备</a></li>
          <li><a href="__APP__/Admin/Equipment/consume">试剂耗材</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-user"></i>规章制度<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Regulation/regulation">规章制度</a></li>
          <li><a href="__APP__/Admin/Regulation/service">服务指南</a></li>
          <li><a href="__APP__/Admin/Regulation/download">下载专区</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-user"></i>采购计划<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Plan/plan">采购计划</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>