.article{
	height: 100%;
	width: 100%;
}
.art_left,
.art_right,
.art_bottom{
	float: left;
}
/*left*/
.art_left{
	width: 80%;
}
.head{
	width: 20%;
	margin-top: 15px;
	margin-bottom: 10px;

}
.art_left span,
.eqtcon,
.eqtcon2,
.eqtcon3{
	height: 20px;
	line-height: 20px;
}
.art_left span{
	display: inline-block;
	width: 15%;
	text-align: right;
}
.eqtcon{
	width: 34%;
	display: inline-block;
}
.eqtcon2{
	width: 100%;
	display: inline-block;
}
.eqtcon3{
	width: 85%;
	display: inline-block;
}
/*right*/
.art_right{
	width: 20%;
}
.eqtpit{
	width: 100%;
	height: 120px;
}  
/*bottom*/
.art_bottom{
	width: 100%;
	height: 60px;
}
.art_bottom button{
	width: 15%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #169f85;
	margin: 20px 0 0 35%;
	background: #26b99a;
	color: #fff;
}
.art_bottom button:hover{
	cursor: pointer;
	background: #c55e57;
	border: 1px solid #d43f3a;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.art_bottom button:active{
	border: none;
}