.pitbox{
	height: 155px;
	width: 190px;
	float: left;
	background:#FAFAFB;
	border: 1px solid #f0f0f0;
	border-top: 3px solid #21a900;
	border-radius: 4px;
	margin: 25px 25px 0 0;

}a
.pitbox:hover{
	box-shadow: 1px 4px 10px 2px #ccc;
	transform:translateY(-2%);
	transition:all 0.6s;
}
.pitbox h4 a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-indent: 40px;
	font-weight: normal;
	font-size: 13px;
	color: green;
	background: url('../images/titpit.png') no-repeat 15px 7px;
	background-size: 15px 15px;
}
.pitbox h4 a:hover{
	color: #c7580d;
	text-decoration: underline;
}
.pitexplan{
	height: 120px;
	width: 100%;
	padding: 15px;
}
.pitexplan img{
	width: 100%;
	height: 100%;
}
.page{
	float: right;
	margin-top: -100px;
	width: 15px;
}
