#header{
	background: #F8F8F8;
}
#main{
	width: 100%;
	padding: 25px 0 60px 0;
	position: relative;
	float: left;
	margin: 25px 0 0 0;
}
#blank{
	position: absolute;
	height: 67px;
	width: 960px;
	background:#E8FFC4;
	top:-8px;
	z-index: -999;
}

/* ----------------------------------------------左导航-------------------------------------*/
#main_nav{
	width: 230px;
	background: -moz-linear-gradient(top, #006A00 0%, #adda4d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006A00), color-stop(100%,#adda4d));
    background: -webkit-linear-gradient(top, #006A00 0%,#adda4d 100%);
    background: -o-linear-gradient(top, #006A00 0%,#adda4d 100%);
    background: -ms-linear-gradient(top, #006A00 0%,#adda4d 100%);
    background: linear-gradient(to bottom, #006A00, #adda4d) repeat scroll 0 0;
	border-radius:0 5px 50px 0;
	float: left;
	min-height: 390px;
	box-shadow:2px 2px 5px #ccc;
}
#main_nav section{
	width: 218px;
	float: right;
}
#main_nav h3{
	color: #FFF;
	font-size: 22px;
	font-weight: normal;
	line-height: 68px;
	padding: 0 0 0 25px;
	text-shadow:0 1px 4px rgba(0, 0, 0, 0.5);
}
#main_nav ul.ultop{
	background: #FFF;
	border-top: 1px solid #ddd;
	padding: 20px 0 0 0;
	min-height: 360px;
}
#main_nav ul.ultop li{border-top: 1px solid #ddd;}
#main_nav li a{
	text-indent: 30px;
	display: inline-block;
	width: 100%;
	font-size: 15px;
	height: 45px;
	line-height: 45px;
	color: #003e3e;
	position: relative;
	left: -3px;
}
#main_nav li a:hover,
#main_nav li a:active{
	color:green;
	border-left: 3px solid orange;
	background: #fffafa;
	text-indent: 50px;
	transition-property:text-indent;
	transition-duration:0.8s;	
}
#main_nav li.ulhidde ul li a:hover,
#main_nav li.ulhidde ul li a:active{
	border-left:none;
	text-indent: 65px;
	text-decoration: underline;
}
#main_nav li.ulhidde ul{
	padding-bottom: 15px;
}
#main_nav li.ulhidde ul li{
	width: 200px;
}
#main_nav li.ulhidde ul li,
#main_nav li.ulhidde ul li a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	background-color: rgba(0,170,0,0.4)!important;
  	filter:Alpha(opacity=40);
  	color: #fff;
}
#main_nav ul.ultop li.ulhidde ul li{border-top: none;}
#main_nav li.ulhidde ul li a{
	text-indent: 65px;
	width: 100%;
}
/* ----------------------------------------------右内容-------------------------------------*/
#main_right{
	width: 685px;
}
#main_right,
.top_nav,
.main_title,
.article,
.main_list{
	float: right;
}
.top_nav,
.main_title,
.article{
	width: 100%;
}
.top_nav{
	text-indent: 30px;
	background: url('../images/home.png') no-repeat left;
	background-size: 20px 20px;
	font-size: 13px;
}
.top_nav a{
	color: #666;
}
.top_nav a:hover{
	color:#000;
}
.main_title{
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}
.main_title h2{
	position: relative;
	top:1px;
	padding: 20px 0 6px 0;
	font-size: 22px;
	font-weight: normal;
	color: green;
	display: inline-block;
	border-bottom: 1px solid green;

}
/****************展示内容的*************************/
.article p {
	font-size: 15px;
	margin-top: 15px;
	text-indent: 25px;
	line-height: 25px;
	font-family: sans-serif;
	padding: 10px 35px;
}
}
/*************通知形式*************/
.article{
	padding: 20px 0 30px 0;
	line-height: 1.6em;
	letter-spacing: 1px;
	font-size: 13px;
	color: #444;
	font-family: inherit;
}
/*************搜索形式*************/
#eqt_search{
	width: 100%;
	height: 45px;
}
#eqt_search .search,
#eqt_search .search_button{
	border: 1px solid #3ebb2b;
	float: left;	
}
#eqt_search .search{
	padding: 3px 2px 3px 0px;
	text-indent: 5px;
	height: 25px;
	border-right: none;
	width: 170px;
}
#eqt_search .search:focus{
	border:2px solid #3ebb2b;
	border-right: none;
}
#eqt_search .search_button{
	height: 25px;
	background: #3ebb2b url('../images/search.png') no-repeat center;
	background-size:20px 20px; 
	color: #FFF;
	width: 40px;
}
#eqt_search .search_button:hover{
	cursor: pointer;
}
#eqt_search .radio_box{
	margin-top: 10px;
	min-height: 20px;
}
/*************列表形式1*************/
.ere{
	
	background: red;
	position: relative;
	left: 475px;
	top:-30px;
}
.main_list,
.show_list,
.show_list li,
.main_list p{
	width: 100%;
}
.main_list{
	padding: 20px 0 30px 0;	
}
.main_list p{
	margin-top: 30px;
}
.show_list li,
.show_list li a,
.main_list p{
	float: left;
}
.show_list li{
	height: 50px;
	line-height: 55px;
	border-bottom: 1px dashed #e6e6e6;	
	font-size: 14px;
}
.show_list li a{
	color: #333;
	text-indent: 20px;
	background: url('../images/dot.png') no-repeat 0px 22px;
	background-size: 10px;
	display: inline-block;
	width:590px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}
.show_list li a:hover{
	color: green;
	line-height: 45px;
	background: url('../images/dot_hover.png') no-repeat 0px 16px;
	background-size: 10px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.show_list li span{
	float: right;
	font-family: "Microsoft YaHei";
	color: #666;
}
/*************列表形式2（中心概况：团队建设）*************/
.team_title,
.team_conbox{
	width: 100%;
	float: left;
}
.team_title{
	margin: 25px 0 0 0;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 15px;
	background:#007500;
	text-align: center;
}
.team_conbox{
	border: 1px dashed #ccc;
	border-top: none;	
	padding: 0 0 30px 0;
}
.team_conbox ul li{
	float: left;
	margin: 15px 15px 0px 25px;
	background: red;
	text-indent: 20px;
	background: url('../images/dot_hover.png') no-repeat left center;
	background-size: 15px;
}
.team_conbox ul li a{
	color: #303030;
}
/*************列表形式3（实验教学：课程安排）*************/
.list_title_two,
.list_con_title{
	text-align: center;
	font-weight: bold;
}
.list_title_two{
	font-size: 18px;
	margin: 0 0 15px 0;
}
.list_con_title{
	margin: 0 0 10px 0;
	color: #EA7500;
	font-size: 15px;
}
.list_con_two{
	width: 100%;
	margin: 0 0 30px 0;
}

.list_con_two a{
	font-size: 13px;
	color: #303030;
	display: inline-block;
	margin: 0 30px 15px 0;
}
.list_con_two a:hover,
.list_con_two a:active{
	color: #ae4853;
	text-decoration: underline;
}
/*************table表格形式（中心概况：机构设置）*************/
.table_data {
	margin: 10px 0 35px 0;
	border-bottom: 1px solid #ded8cb;
	border-right: 1px solid #ded8cb;
}
.table_data tr th {
    background:#007500;
    font-size: 14px;
}
.table_data th {
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.table_data td, 
.table_data th {
    padding: 10px;
    border-left: 1px solid #ded8cb;
	border-top: 1px solid #ded8cb;
	text-align: center;
}
.table_data td{
	color: #595343;
	font-size: 13px;
}
.table_data tr:nth-child(2n+1) td {
    background: #F0FFF0;
}
/*************（开放实验室：项目申请）*************/
.project_box{
	float: left;
	width: 100%;
	margin: 30px 0 0 0;
}
.project_box strong{
	margin: 3px 0 0 0;
	float: left;
	color: #003e3e;
	font-weight: normal;
	font-size: 15px;
}
.project_box textarea{
	padding: 10px;
	margin: 0 0 0 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}