<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> -->
  <title>华中农业大学作物学实验教学中心</title>
  <link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700' />
  <link rel="shortcut icon" href="__ROOT__/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/home_public.css" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/show_public.css" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/equipment_pit_in.css" />
  <script type="text/javascript" src="__PUBLIC__/public/js/jquery-1.8.3.min.js"></script>

</head>
<body>
<div id="wrapper">
<div id="bdy">
    <!--************************************************************** header **************************************************************-->
  <div id="header"> 
    <include file="./Application/Home/View/Public/header.html" />
  </div>

  <!--**************************************************************   nav  **************************************************************-->
  <div id="nav">
    <include file="./Application/Home/View/Public/nav.html" />
  </div>
  
  <!--**************************************************************main-one**************************************************************-->
  <div id="main">
    <div class="container">
      <div id="blank"></div>
      <div id="main_nav">
        <section>
          <h3>实验室</h3>
          <ul class="ultop">
            <li><a href="__APP__/Home/Laboratory/laboratory_show1">公共实验室</a></li>
            <li><a href="__APP__/Home/Laboratory/laboratory_show2" style="border-left: 3px solid orange;">教学实验室</a></li>
            <li><a href="__APP__/Home/Laboratory/laboratory_show3" >实验辅助室</a></li>
          </ul>
        </section>
      </div>
      <div id="main_right">
        <nav class="top_nav"><a href="__APP__/home/Index/index.html">首页</a> · <a href="#">实验室</a> · <a href="#">公共实验室</a> · <a href="#">这写标题</a> </nav>
        <header class="main_title"><h2>这写标题</h2></header>
        <section class="article">
          <div class="art_left">  
            
          
              <h3 class="head">基本信息</h3>
              <span>名称：</span><div class="eqtcon">气相色谱质谱联用仪</div>

              <span>设备编号：</span><div class="eqtcon">气相色谱质谱联用仪</div>
              <span>状态：</span><div class="eqtcon">开放/锁定/故障</div>
              <span>存放地：</span><div class="eqtcon">气相色谱质谱联用仪</div>
              <span>面积：</span><div class="eqtcon">XING号单位</div>
              <span>功能：</span><div class="eqtcon">XING号单位</div><hr>
              <h3 class="head">联系人</h3>
              <span>姓名：</span><div class="eqtcon">张三</div>
              <span>类型：</span><div class="eqtcon">气相色谱质谱联用仪</div>
              <span>电话：</span><div class="eqtcon">01402</div>
              <span>手机：</span><div class="eqtcon">19999999999</div><hr>
              <h3 class="head">简介</h3><div class="eqtcon2">气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪</div><hr>
              <h3 class="head">备注说明</h3><div class="eqtcon2">气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪气相色谱质谱联用仪</div>
           
          </div>
          <div class="art_right">
            <img class="eqtpit" src="__PUBLIC__/face/images/eqt/1.jpg" alt="">
          </div>
          <div class="art_bottom">
            <a href="__URL__/laboratory_apply"><button>现在预约</button></a>
            
          </div>
        </section>

      </div>
    </div>
  </div>


   <!--************************************************************** footer **************************************************************-->
  <div id="footer">
     <include file="./Application/Home/View/Public/footer.html" />
  </div>
</div>
</div>
  

  
  <script type="text/javascript" src="__PUBLIC__/face/js/public.js"></script>
  <script type="text/javascript" src="__PUBLIC__/face/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/face/js/custom.js"></script>

</body>
</html>