.pot {
	width: 700px;
}
.pot .row {
	margin-left: 10px;
	width: 80px;
	padding: 10px 20px;
	float: left;
}
.pot .row .ex {
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	box-shadow: 0 0 1px 1px;
	margin: 10px auto;
}