
/************************************添加 style************************************/
.gallery_title{	
	height: 25px;
	padding: 0 10px;	
}

.gallery_title,
.gallery_textarea{
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 0 0 10px 0;
	width: 100%;
}
.eqthint {
	text-align: center;
	display: inline-block;
	width: 80px;
	height: 25px;
}
.gallery_eqt {
	display: inline-block;
	height: 25px;
	padding: 0 10px;
	width: 150px;
}
.coninput {
	display: block;
	margin: 15px;
	width: 350px;
	height: 35px;
}
.hint {
	display: inline-block;
	float: left;
	width: 60px;
	height: 25px;
}
.text {
	display: inline-block;
	border: 1.5px solid #ccc;
	width: 200px;
}
.gallery_add{
	color: #fff;
	background: #26b99a;
	position: absolute;
	right: 30px;
	bottom:7px;
	width: 65px;
	border-radius: 30px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border: 1px solid #169f85;
	font-weight: 400;
	font-size: 14px;
}
.gallery_del{
	color: #fff;
	background: #26b99a;
	position: absolute;
	right: 100px;
	bottom:7px;
	width: 65px;
	border-radius: 30px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border: 1px solid #169f85;
	font-weight: 400;
	font-size: 14px;
}
.gallery_add:hover,.gallery_del:hover{
	cursor: pointer;
	background: #d9534f;
	border: 1px solid #d43f3a;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.mutibox {
	position: absolute;
	right: 120px;
	bottom:15px;
	width: 65px;
}

