<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>华中农业大学实验教学中心互动平台</title>
  	<link rel="shortcut icon" href="__ROOT__/back.ico" type="image/x-icon" />

	  <!-- Bootstrap -->
    <link href="__PUBLIC__/back/include/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 图标引入 -->
    <link href="__PUBLIC__/back/include/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="__PUBLIC__/back/include/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="__PUBLIC__/back/css/custom.min.css" rel="stylesheet">
    <link href="__PUBLIC__/back/css/public.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/back/css/Room.css">
</head>
    <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!--************************************************* 左导航 *************************************************-->
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            
        <!-- 左导航中部 -->
            <include file="./Application/Admin/View/Public/nav_header.html" />
              <br />

              <!-- 左导航中部 -->
            <include file="./Application/Admin/View/Public/nav_middle.html" />

              <!--  左导航底部 -->
             <include file="./Application/Admin/View/Public/nav_footer.html" />

          </div>
        </div>

        <!--************************************************* 顶导航 *************************************************-->
        <include file="./Application/Admin/View/Public/top_nav.html" />
        <!--************************************************* 右内容 *************************************************-->
      <div class="right_col" role="main">

          <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="x_panel" style="min-width:700px ;">
              <div class="x_title">
                <h2>东附楼B102<small>Light Culture Room</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="panel_toolbox_li"><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                  <li class="panel_toolbox_li"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content" >
                <form>
                  <div class="B102">
                  <div class="left">
                    <table>
                      <tr>
                        <td><input type="checkbox" name=""><br><b>1-3-1</b></td>
                        <td><input type="checkbox" name=""><br><b>1-3-2</b></td>
                        <td><input type="checkbox" name=""><br><b>1-3-3</b></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name=""><br><b>1-2-1</b></td>
                        <td><input type="checkbox" name=""><br><b>1-2-2</b></td>
                        <td><input type="checkbox" name=""><br><b>1-2-3</b></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name=""><br><b>1-1-1</b></td>
                        <td><input type="checkbox" name=""><br><b>1-1-2</b></td>
                        <td><input type="checkbox" name=""><br><b>1-1-3</b></td>
                      </tr>
                    </table>
                    <div class="door"><div class="doorl">东附楼</div><div class="doorr">B102</div></div>
                  </div>
                  <div class="part1"></div>
                  <div class="right">
                    <div class="upwards">
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>1-1-1</b></td>
                          <td><input type="checkbox" name=""><b>1-2-1</b></td>
                          <td><input type="checkbox" name=""><b>1-3-1</b></td>
                          <td><input type="checkbox" name=""><b>1-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>1-1-2</b></td>
                          <td><input type="checkbox" name=""><b>1-2-2</b></td>
                          <td><input type="checkbox" name=""><b>1-3-2</b></td>
                          <td><input type="checkbox" name=""><b>1-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>1-1-3</b></td>
                          <td><input type="checkbox" name=""><b>1-2-3</b></td>
                          <td><input type="checkbox" name=""><b>1-3-3</b></td>
                          <td><input type="checkbox" name=""><b>1-4-3</b></td>
                        </tr>
                      </table>
                      <div class="part2">
                        <div class="le">D1</div>
                        <div class="ri"></div>
                      </div>
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-1</b></td>
                          <td><input type="checkbox" name=""><b>2-2-1</b></td>
                          <td><input type="checkbox" name=""><b>2-3-1</b></td>
                          <td><input type="checkbox" name=""><b>2-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-2</b></td>
                          <td><input type="checkbox" name=""><b>2-2-2</b></td>
                          <td><input type="checkbox" name=""><b>2-3-2</b></td>
                          <td><input type="checkbox" name=""><b>2-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-3</b></td>
                          <td><input type="checkbox" name=""><b>2-2-3</b></td>
                          <td><input type="checkbox" name=""><b>2-3-3</b></td>
                          <td><input type="checkbox" name=""><b>2-4-3</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-4</b></td>
                          <td><input type="checkbox" name=""><b>2-2-4</b></td>
                          <td><input type="checkbox" name=""><b>2-3-4</b></td>
                          <td><input type="checkbox" name=""><b>2-4-4</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-5</b></td>
                          <td><input type="checkbox" name=""><b>2-2-5</b></td>
                          <td><input type="checkbox" name=""><b>2-3-5</b></td>
                          <td><input type="checkbox" name=""><b>2-4-5</b></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-1</b></td>
                          <td><input type="checkbox" name=""><b>3-2-1</b></td>
                          <td><input type="checkbox" name=""><b>3-3-1</b></td>
                          <td><input type="checkbox" name=""><b>3-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-2</b></td>
                          <td><input type="checkbox" name=""><b>3-2-2</b></td>
                          <td><input type="checkbox" name=""><b>3-3-2</b></td>
                          <td><input type="checkbox" name=""><b>3-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-3</b></td>
                          <td><input type="checkbox" name=""><b>3-2-3</b></td>
                          <td><input type="checkbox" name=""><b>3-3-3</b></td>
                          <td><input type="checkbox" name=""><b>3-4-3</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-4</b></td>
                          <td><input type="checkbox" name=""><b>3-2-4</b></td>
                          <td><input type="checkbox" name=""><b>3-3-4</b></td>
                          <td><input type="checkbox" name=""><b>3-4-4</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-5</b></td>
                          <td><input type="checkbox" name=""><b>3-2-5</b></td>
                          <td><input type="checkbox" name=""><b>3-3-5</b></td>
                          <td><input type="checkbox" name=""><b>3-4-5</b></td>
                        </tr>
                      </table>
                      <div class="part3">
                        <div class="le">D2</div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="downwards">
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-1</b></td>
                          <td><input type="checkbox" name=""><b>2-2-1</b></td>
                          <td><input type="checkbox" name=""><b>2-3-1</b></td>
                          <td><input type="checkbox" name=""><b>2-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-2</b></td>
                          <td><input type="checkbox" name=""><b>2-2-2</b></td>
                          <td><input type="checkbox" name=""><b>2-3-2</b></td>
                          <td><input type="checkbox" name=""><b>2-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-3</b></td>
                          <td><input type="checkbox" name=""><b>2-2-3</b></td>
                          <td><input type="checkbox" name=""><b>2-3-3</b></td>
                          <td><input type="checkbox" name=""><b>2-4-3</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-4</b></td>
                          <td><input type="checkbox" name=""><b>2-2-4</b></td>
                          <td><input type="checkbox" name=""><b>2-3-4</b></td>
                          <td><input type="checkbox" name=""><b>2-4-4</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-5</b></td>
                          <td><input type="checkbox" name=""><b>2-2-5</b></td>
                          <td><input type="checkbox" name=""><b>2-3-5</b></td>
                          <td><input type="checkbox" name=""><b>2-4-5</b></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-1</b></td>
                          <td><input type="checkbox" name=""><b>3-2-1</b></td>
                          <td><input type="checkbox" name=""><b>3-3-1</b></td>
                          <td><input type="checkbox" name=""><b>3-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-2</b></td>
                          <td><input type="checkbox" name=""><b>3-2-2</b></td>
                          <td><input type="checkbox" name=""><b>3-3-2</b></td>
                          <td><input type="checkbox" name=""><b>3-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-3</b></td>
                          <td><input type="checkbox" name=""><b>3-2-3</b></td>
                          <td><input type="checkbox" name=""><b>3-3-3</b></td>
                          <td><input type="checkbox" name=""><b>3-4-3</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-4</b></td>
                          <td><input type="checkbox" name=""><b>3-2-4</b></td>
                          <td><input type="checkbox" name=""><b>3-3-4</b></td>
                          <td><input type="checkbox" name=""><b>3-4-4</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-5</b></td>
                          <td><input type="checkbox" name=""><b>3-2-5</b></td>
                          <td><input type="checkbox" name=""><b>3-3-5</b></td>
                          <td><input type="checkbox" name=""><b>3-4-5</b></td>
                        </tr>
                      </table>
                      <div class="part4"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <select class="mutibox">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                <div class="gallery_add">修改</div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>B102光照培养室内申请<small>Light Culture Room Application</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="panel_toolbox_li"><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                  <li class="panel_toolbox_li"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>光照室名称</th>
                    <th >状态</th><!-- 列表显示待审申请、正在使用的申请、有效历史申请， -->
                    <th >操作</th>
                  </tr>
                  </thead>


                  <tbody>

                    <tr>
                      <td><a href="__URL__/equipment_app_show">r_name</a></td>
                      <td>r_time</td>
                      <td>
                        <a href="__URL__/">同意 <i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="__URL__/" >拒绝 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>

                    <tr>
                      <td><a href="__URL__/equipment_app_show">r_name</a></td>
                      <td>$vo.r_time</td>
                      <td>
                        <a href="__URL__/" > 同意<i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="__URL__/" >拒绝 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>

                  <!-- <volist name="data" id="vo" key="k">
                    <PHP>
                      if($k % 2 == 0) {
                    </PHP>
                    <tr>
                      <td><a href="__URL__/equipment_app_show"><{$vo.r_name}></a></td>
                      <td><{$vo.r_time}></td>
                      <td>
                        <a href="__URL__/notice_luanch" data-toggle="modal" data-target="#myModal" >同意 <i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="__URL__/" >拒绝 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>
                    <PHP>
                      } else {
                    </PHP>
                    <tr>
                      <td><a href="__URL__/equipment_app_show"><{$vo.r_name}></a></td>
                      <td><{$vo.r_time}></td>
                      <td><a href="__URL__/notice_luanch" data-toggle="modal" data-target="#myModal" >同意 <i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="__URL__/" >拒绝 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>
                    <PHP>
                      }
                    </PHP>
                  </volist> -->
                  </tbody>
                </table>
                <br><br>
                <div data-toggle="modal" data-target="#myModal2" class="gallery_add">导出Excel</div>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="x_panel" style="min-width:800px ;">
              <div class="x_title">
                <h2>东附楼B103<small>Light Culture Room</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="panel_toolbox_li"><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                  <li class="panel_toolbox_li"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <form>
                  <div class="B103">
                  <div class="up">
                    <div class="le">
                    <div class="door">
                        <div class="door1">东附楼</div>
                        <div class="door2">B103</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="left">
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><br><b>8-3-1</b></td>
                          <td><input type="checkbox" name=""><br><b>8-3-2</b></td>
                          <td><input type="checkbox" name=""><br><b>8-3-3</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><br><b>8-2-1</b></td>
                          <td><input type="checkbox" name=""><br><b>8-2-2</b></td>
                          <td><input type="checkbox" name=""><br><b>8-2-3</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><br><b>8-1-1</b></td>
                          <td><input type="checkbox" name=""><br><b>8-1-2</b></td>
                          <td><input type="checkbox" name=""><br><b>8-1-3</b></td>
                        </tr>
                      </table>
                    </div>
                    </div>
                    <div class="right">
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>1-1-1</b></td>
                          <td><input type="checkbox" name=""><b>1-2-1</b></td>
                          <td><input type="checkbox" name=""><b>1-3-1</b></td>
                          <td><input type="checkbox" name=""><b>1-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>1-1-2</b></td>
                          <td><input type="checkbox" name=""><b>1-2-2</b></td>
                          <td><input type="checkbox" name=""><b>1-3-2</b></td>
                          <td><input type="checkbox" name=""><b>1-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>1-1-3</b></td>
                          <td><input type="checkbox" name=""><b>1-2-3</b></td>
                          <td><input type="checkbox" name=""><b>1-3-3</b></td>
                          <td><input type="checkbox" name=""><b>1-4-3</b></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-1</b></td>
                          <td><input type="checkbox" name=""><b>2-2-1</b></td>
                          <td><input type="checkbox" name=""><b>2-3-1</b></td>
                          <td><input type="checkbox" name=""><b>2-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-2</b></td>
                          <td><input type="checkbox" name=""><b>2-2-2</b></td>
                          <td><input type="checkbox" name=""><b>2-3-2</b></td>
                          <td><input type="checkbox" name=""><b>2-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>2-1-3</b></td>
                          <td><input type="checkbox" name=""><b>2-2-3</b></td>
                          <td><input type="checkbox" name=""><b>2-3-3</b></td>
                          <td><input type="checkbox" name=""><b>2-4-3</b></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-1</b></td>
                          <td><input type="checkbox" name=""><b>3-2-1</b></td>
                          <td><input type="checkbox" name=""><b>3-3-1</b></td>
                          <td><input type="checkbox" name=""><b>3-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-2</b></td>
                          <td><input type="checkbox" name=""><b>3-2-2</b></td>
                          <td><input type="checkbox" name=""><b>3-3-2</b></td>
                          <td><input type="checkbox" name=""><b>3-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>3-1-3</b></td>
                          <td><input type="checkbox" name=""><b>3-2-3</b></td>
                          <td><input type="checkbox" name=""><b>3-3-3</b></td>
                          <td><input type="checkbox" name=""><b>3-4-3</b></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>4-1-1</b></td>
                          <td><input type="checkbox" name=""><b>4-2-1</b></td>
                          <td><input type="checkbox" name=""><b>4-3-1</b></td>
                          <td><input type="checkbox" name=""><b>4-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>4-1-2</b></td>
                          <td><input type="checkbox" name=""><b>4-2-2</b></td>
                          <td><input type="checkbox" name=""><b>4-3-2</b></td>
                          <td><input type="checkbox" name=""><b>4-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>4-3-1</b></td>
                          <td><input type="checkbox" name=""><b>4-3-2</b></td>
                          <td><input type="checkbox" name=""><b>4-3-3</b></td>
                          <td><input type="checkbox" name=""><b>4-3-4</b></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>5-1-1</b></td>
                          <td><input type="checkbox" name=""><b>5-2-1</b></td>
                          <td><input type="checkbox" name=""><b>5-3-1</b></td>
                          <td><input type="checkbox" name=""><b>5-4-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>5-1-2</b></td>
                          <td><input type="checkbox" name=""><b>5-2-2</b></td>
                          <td><input type="checkbox" name=""><b>5-3-2</b></td>
                          <td><input type="checkbox" name=""><b>5-4-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>5-1-3</b></td>
                          <td><input type="checkbox" name=""><b>5-2-3</b></td>
                          <td><input type="checkbox" name=""><b>5-3-3</b></td>
                          <td><input type="checkbox" name=""><b>5-4-3</b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="down">
                  <div class="part1"></div>
                    <div class="le">
                      <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>7-1-1</b></td>
                          <td><input type="checkbox" name=""><b>7-2-1</b></td>
                          <td><input type="checkbox" name=""><b>7-3-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>7-1-2</b></td>
                          <td><input type="checkbox" name=""><b>7-2-2</b></td>
                          <td><input type="checkbox" name=""><b>7-3-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>7-1-3</b></td>
                          <td><input type="checkbox" name=""><b>7-2-3</b></td>
                          <td><input type="checkbox" name=""><b>7-3-3</b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="part2"></div>
                    <div class="ri">
                    <table>
                        <tr>
                          <td><input type="checkbox" name=""><b>6-1-1</b></td>
                          <td><input type="checkbox" name=""><b>6-2-1</b></td>
                          <td><input type="checkbox" name=""><b>6-3-1</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>6-1-2</b></td>
                          <td><input type="checkbox" name=""><b>6-2-2</b></td>
                          <td><input type="checkbox" name=""><b>6-3-2</b></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name=""><b>6-1-3</b></td>
                          <td><input type="checkbox" name=""><b>6-2-3</b></td>
                          <td><input type="checkbox" name=""><b>6-3-3</b></td>
                        </tr>
                      </table></div>
                    <div class="clearfix"></div>
                  </div>
                </div>                
                <select class="mutibox">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                <div class="gallery_add">修改</div>
                </form>
                <div class="clearfix"></div>

              </div>
            </div>
          </div>
          <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>B103光照培养室内申请<small>Light Culture Room Application</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="panel_toolbox_li"><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                  <li class="panel_toolbox_li"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>光照室名称</th>
                    <th >状态</th><!-- 列表显示待审申请、正在使用的申请、有效历史申请， -->
                    <th >操作</th>
                  </tr>
                  </thead>


                  <tbody>

                    <tr>
                      <td><a href="__URL__/equipment_app_show">r_name</a></td>
                      <td>r_time</td>
                      <td>
                        <a href="__URL__/">同意 <i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="__URL__/" >拒绝 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>

                    <tr>
                      <td><a href="__URL__/equipment_app_show">r_name</a></td>
                      <td>$vo.r_time</td>
                      <td>
                        <a href="__URL__/" > 同意<i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="__URL__/" >拒绝 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>

                  <!-- <volist name="data" id="vo" key="k">
                    <PHP>
                      if($k % 2 == 0) {
                    </PHP>
                    <tr>
                      <td><a href="__URL__/equipment_app_show"><{$vo.r_name}></a></td>
                      <td><{$vo.r_time}></td>
                      <td>
                        <a href="__URL__/notice_luanch" data-toggle="modal" data-target="#myModal" >同意 <i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="__URL__/" >拒绝 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>
                    <PHP>
                      } else {
                    </PHP>
                    <tr>
                      <td><a href="__URL__/equipment_app_show"><{$vo.r_name}></a></td>
                      <td><{$vo.r_time}></td>
                      <td><a href="__URL__/notice_luanch" data-toggle="modal" data-target="#myModal" >同意 <i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="__URL__/" >拒绝 <i class="fa fa-close"></i></a>
                      </td>
                    </tr>
                    <PHP>
                      }
                    </PHP>
                  </volist> -->
                  </tbody>
                </table>
                <br><br>
                <div data-toggle="modal" data-target="#myModal2" class="gallery_add">导出Excel</div>
              </div>
            </div>
          </div>  

      </div>
        <!--************************************************* 底部版权 *************************************************-->
      <include file="./Application/Admin/View/Public/footer.html" />

      </div>
    </div>

    <!--************************************************* publc JS *************************************************-->
    <include file="./Application/Admin/View/Public/public_js.html" />
    <!-- <script src="__PUBLIC__/back/include/datatables.net/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="__PUBLIC__/back/include/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> -->
  </body>
</html>