<!doctype html>
<html lang="en">
<head>
 	<meta charset="UTF-8">
 	<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> -->
 	<title>华中农业大学作物学实验教学中心</title>
 	<link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700' />
  <link rel="shortcut icon" href="__ROOT__/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/home_public.css" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/show_public.css" />
  <script type="text/javascript" src="__PUBLIC__/public/js/jquery-1.8.3.min.js"></script>

</head>
<body>
<div id="wrapper">
<div id="bdy">
    <!--************************************************************** header **************************************************************-->
  <div id="header"> 
    <include file="./Application/Home/View/Public/header.html" />
  </div>

  <!--**************************************************************   nav  **************************************************************-->
  <div id="nav">
    <include file="./Application/Home/View/Public/nav.html" />
  </div>
  
  <!--**************************************************************main-one**************************************************************-->
  <div id="main">
    <div class="container">
      <div id="blank"></div>
      <div id="main_nav">
        <section>
          <h3>大田设施</h3>
          <ul class="ultop">
            <li><a href="__APP__/Home/Field/field_show1" style="border-left: 3px solid orange;">农田土地</a></li>
            <li><a href="__APP__/Home/Field/field_show2">露天盆栽场</a></li>
          </ul>
        </section>
      </div>
      <div id="main_right">
        <nav class="top_nav"><a href="__APP__/home/Index/index.html">首页</a> · <a href="#">大田设施</a> · <a href="#">农田土地</a> </nav>
        <header class="main_title"><h2>农田土地</h2></header>
        <section class="article"> 
          <{$data.content}>
<!--             作物学实验教学中心成立于2002年，2007年批准为湖北省实验教学示范中心，2008年批准为国家级实验教学示范中心建设单位。拥有作物学国家一级重点学科和植物保护学湖北省重点学科，作物学和植物保护学两个一级学科博士后科研流动站；依托平台有作物遗传改良国家重点实验室、国家农作物分子技术育种中心、国家植物基因研究中心、国家油菜工程技术研究中心和国家油菜武汉改良分中心等5个国家级重点实验室与工程中心，7个省部级重点实验室和研发中心，8个校级研发中心。 中心有实验及基地用房7560平米，温室、网室群3880平米，校内本科实习用地40多亩，形成了植物生理生化、通用显微观察、多功能化学分析、生态与信息4个大类教学功能实验室，1个大学生创新实验室，1个中心共享平台，1个校内实践创新基地和3个校外大型综合实习基地的实践教学平台，仪器设备总数7860台/件，总值7852万元，可同时开出15个班次不同类型的课程实验、实习。面向全校17个专业的本科生，开设52门实验课程123456。 -->
        </section>
      </div>
    </div>
  </div>


   <!--************************************************************** footer **************************************************************-->
  <div id="footer">
     <include file="./Application/Home/View/Public/footer.html" />
  </div>
</div>
</div>
  

  
  <script type="text/javascript" src="__PUBLIC__/face/js/public.js"></script>
  <script type="text/javascript" src="__PUBLIC__/face/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/face/js/custom.js"></script>

</body>
</html>