<!doctype html>
<html lang="en">
<head>
 	<meta charset="UTF-8">
 	<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> -->
 	<title>华中农业大学作物学实验教学中心</title>
 	<link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700' />
  <link rel="shortcut icon" href="__ROOT__/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/home_public.css" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/show_public.css" />
  <script type="text/javascript" src="__PUBLIC__/public/js/jquery-1.8.3.min.js"></script>

</head>
<body>
<div id="wrapper">
<div id="bdy">
    <!--************************************************************** header **************************************************************-->
  <div id="header"> 
    <include file="./Application/Home/View/Public/header.html" />
  </div>

  <!--**************************************************************   nav  **************************************************************-->
  <div id="nav">
    <include file="./Application/Home/View/Public/nav.html" />
  </div>
  
  <!--**************************************************************main-one**************************************************************-->
  <div id="main">
    <div class="container">
      <div id="blank"></div>
      <div id="main_nav">
        <section>
          <h3>平台概况</h3>
          <ul class="ultop">
            <li><a href="__APP__/Home/About/about_show1.html">平台简介</a></li>
            <li><a href="__APP__/Home/About/about_show2.html">通知公告</a></li>
            <li><a href="__APP__/Home/About/about_show3.html" style="border-left: 3px solid orange;">联系我们</a></li>
          </ul>
        </section>
      </div>
      <div id="main_right">
        <nav class="top_nav"><a href="__APP__/home/Index/index.html">首页</a> · <a href="#">平台概况</a> · <a href="#">联系我们</a> </nav>
        <header class="main_title"><h2>联系我们</h2></header>
        <section class="article"> 
          <p class="contantdis">
            <{$data.content}>
          </p>
        </section>
      </div>
    </div>
  </div>


   <!--************************************************************** footer **************************************************************-->
  <div id="footer">
     <include file="./Application/Home/View/Public/footer.html" />
  </div>
</div>
</div>
  

  
  <script type="text/javascript" src="__PUBLIC__/face/js/public.js"></script>
  <script type="text/javascript" src="__PUBLIC__/face/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/face/js/custom.js"></script>

</body>
</html>